# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2

defaults: &defaults
  docker:
    - image: circleci/openjdk:8-jdk

  working_directory: ~/jmxfetch

  environment:
    MAVEN_OPTS: -Xmx3200m

cache_keys: &cache_keys
  # Reset the cache approx every release
  keys:
    - jmxfetch-{{ checksum "pom.xml" }}-{{ .Branch }}-{{ .Revision }}
    - jmxfetch-{{ checksum "pom.xml" }}-{{ .Branch }}
    - jmxfetch-{{ checksum "pom.xml" }}

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          <<: *cache_keys

      - run: mvn install

      - save_cache:
          paths:
            - ~/.m2
          key: jmxfetch-{{ checksum "pom.xml" }}-{{ .Branch }}-{{ .Revision }}

      - store_test_results:
          path: ./target/surefire-reports/

      - persist_to_workspace:
          root: .
          paths:
            - target

  deploy:
    <<: *defaults

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          <<: *cache_keys

      - attach_workspace:
          at: .

      - run:
          name: Deploy to bintray
          command: mvn validate jar:jar source:jar javadoc:jar assembly:single deploy:deploy -e --settings ./settings.xml
      - run:
          name: Sync with mavencentral
          command: |
            VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
            curl -X POST -H "Content-Type: application/json" \
            --user ${BINTRAY_USER}:${BINTRAY_API_KEY} \
            --data "{\"username\":\"${SONATYPE_USER}\", \"password\":\"${SONATYPE_PWD}\"}" \
            https://api.bintray.com/maven_central_sync/datadog/datadog-maven/jmxfetch/versions/$VERSION

workflows:
  version: 2
  build_test_deploy:
    jobs:
    - build:
        filters:
          tags:
            only: /.*/
    - deploy:
        requires:
          - build
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^\d+\.\d+\.\d+/
